name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Powershell script
        shell:  pwsh
        run: |
          $getdata = Invoke-RestMethod -Uri "https://prices.azure.com/api/retail/prices" -Method Get -ContentType "application/json"
          $collection = $getdata.Items | Where-Object {($_.servicename -eq 'Azure App Service')-and ($_.productName -eq 'Azure App Service Premium Windows Container Plan') -and ($_.unitOfMeasure -eq '1 Hour') -and ($_.location -eq 'US East')} | Select-Object -Property Productname,unitofmeasure,unitprice
          Write-Host "App service pricing for "$collection.unitofmeasure" is "$collection.unitprice""

    
